body
{
    background: url("../images/3.png") no-repeat;
}

*
{
    margin: 0;
    padding: 0;
}

.main
{
    font: bold 14px Tahoma;
}

.title_blue
{
    margin: 150px 0 0 118px;
    border-bottom: 2px solid blue;
    padding-left: 347px;
    font: 34px Arial;
    width: 453px;
}

.cat_hub
{
    padding: 35px 0 0 153px;
}

.container_cat
{
    width: 220px; 
    height: 203px; 
    border: 1px solid black; 
    margin: 0 35px 0 0;
    padding-top: 20px;
    text-align: center;
    float: left;
    border-radius: 8px;
}

.cat1
{
    background: url("../images/texture1.jpg");
}

.cat2
{
    background: url("../images/texture3.jpg");
}

.cat3
{
    background: url("../images/texture2.jpg");
}

.cat_year_hub
{
    position: relative;
    left: 100%;
    color: #FFFFFF;
}

.cat_year
{
    height: 44px;
    width: 50px;
    background-color: #BC8F8F;
    border: 1px solid #FFD700;
    position: absolute;
    left: -27px;
    top: -45px;
    border-radius: 15px;
    padding: 6px 0 0 0;
}

.container_cat p
{
    margin: 3px 0 0 -1px;
}

.button_cat
{ 
    height: 34px;
    width: 298px;
    background: url("../images/button.png") no-repeat;
    padding-top: 15px;
    text-align: center;
    margin: 245px 0 0 369px;
}

.button_cat:hover
{ 
    background: url("../images/button-over.png") no-repeat;
}

.button_cat span
{
    font: bold 16px Tahoma
}