<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Template engine</title>
  <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Header</h1>
    </div>
    <div class="container_center">
      <div class="sidebar">
        <h2>Sidebar</h2>
      </div>
      <div class="content">
        <h2>Content</h2>
        {$content}
      </div>
    </div>
    <div class="footer">
      <h2>Footer</h2>
    </div>
  </div>
</body>
</html>