*
{
    padding: 0;
    margin: 0;
}

body
{
    background: url("../images/task2.png") no-repeat;
    font: 14px Tahoma;
}

.contact_us
{
    padding-top: 7px;
    width: ;
    margin: 21px 0 0 29px;
    border-left: 1px solid black;
    height: 275px;
}

h1
{
    font: 23px Arial;
    margin: -8px 0 26px 51px;
}

ul
{
    width: 238px;
    margin-left: 44px;
    list-style-type: none;
}

li
{
    height: 2px;
    padding: 0 23px 27px 52px;
    margin-bottom: 14px;
    border-bottom: 1px dotted black;
}

.address
{
    border-bottom: none;
    line-height: 1.8;
    margin-top: -4px;
}

.left
{
    position: absolute;
    left: 80px;
    margin-top: -2px;
}