*
{
    margin: 0;
    padding: 0;
}

.title_blue
{
    border-bottom: 2px solid blue;
}

.container_cat
{
    width: 240px; 
    height: 240px; 
    border: 1px solid black; 
    margin: 15px 0;
    padding: 20px 0 0;
    text-align: center;
}

.cat1
{
    background: url("../images/texture1.jpg");
}

.cat2
{
    background: url("../images/texture3.jpg");
}

.cat3
{
    background: url("../images/texture2.jpg");
}

.rollover span
{
    position: absolute;
    font: bold 12px Arial;
    padding: 20px 90px;
}

.roll,
.rollover
{ 
    display: block;
    height: 54px;
    width: 298px;
    position: absolute;
    background: url("../images/button.png");
}

.roll:hover .rollover
{ 
    
    background: url("../images/button-over.png");
}