th,
td,
.table
{
    border-collapse: collapse;
    border: 1px solid #000080;
}

.title
{
    font-weight: bold; 
    text-align: center; 
    background: #f1f1f1;
}

.description
{
    border-bottom: 2px solid blue;
}

.red
{
    border-color: red;
}